name: Cypress Tests using Cypress Docker Image

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    container:
      image: cypress/browsers:22.15.0
      options: --user 1001
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - run: npm install
      
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          run: npx cypress run
