name: Cypress Tests using Cypress Docker Image

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      
      - name: Install Cypress dependencies
        run: npm install
      
      - name: Cypress run
        run: npx cypress run
